form{
    padding: 20px;
    border-radius: 30px;
    margin: auto;
    background: #34495e;
    width: 80%;
    margin-top: 50px;
    text-align: center;
}

h1{
    text-transform: uppercase;
    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.ref{
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.input, select{
    text-align: center;
    width: 80%;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#submit{
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
    width: 80%;
}

#submit:hover{
    background: greenyellow;
}