.info{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 5%;
    background-color: rgba(25, 50, 88, 0.9);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.menu_title{
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.description{
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type = "password"], [type = "email"]{
    border: none;
    background: white;
    margin: 10px;
    border-radius: 5px;
    width: 90%;
    height: 25px;
    text-align: center;
}

input[type = "submit"]{
    border: none;
    border-radius: 15px;
    background: red;
    margin: 15px;
    width: 90%;
    height: 25px;
    transition: .2s;
}
input[type = "submit"]:hover{
    color: white;
    text-transform: uppercase;
}

.balance{
    margin:0;
    font-size: 60px;
    text-align: center;
}

.create_account{
    width: 30%;
    height: 30px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    transition: .2s;
}

.create_account:hover{
    background: rgb(39, 221, 39);
}