.info{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(25, 50, 88, 0.9);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.menu_title{
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.description{
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type = "password"], [type = "email"]{
    border: none;
    background: white;
    margin: 10px;
    border-radius: 5px;
    width: 90%;
    height: 25px;
    text-align: center;
}

input[type = "submit"]{
    border: none;
    border-radius: 15px;
    background: red;
    margin: 15px;
    width: 90%;
    height: 25px;
    transition: .2s;
}

input[type = "submit"]:hover{
    color: white;
    text-transform: uppercase;
}

#aviso{
    text-align: left;
}

.balance_table{
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
}

td, th{
    padding: 15px;
}

th{
    background-color: #246355;
    color: white;
    border-bottom: solid 5px #0f362D;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover{
    background-color: #369681;
    color: white;
}

#create_account{
    width: 30%;
    height: 30px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    transition: .2s;
}

#create_account:hover{
    background: rgb(39, 221, 39);
}