.services-section{
    padding: 60px 0;  
    background: cornflowerblue;
    background-size: cover;
    padding: 60px 0;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
}

.border{
    width: 160px;
    height: 5px;
    background: black;
    margin: 40px auto;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #34495e;
    color: #34495e;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-box:hover .service-icon{
    background: black;
    color: cornsilk;
}

.service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc{
    font-size: 14px;
}

@media screen and (max-width:960px){
    .service-box{
        max-width: 45%;
    }
    .service-icon i{
        font-size: 63px;
    }
}

@media screen and (max-width:768px){
    .service-box{
        max-width: 50%;
    }
    
}

@media screen and (max-width:9480px){
    .service-box{
        max-width: 100%;
    }
}